{#
c-imageCover
------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-coverImage',
  modifiers: [],
  customClasses: [],
  data: {},
  image: null,
  objectFit: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}
{% import '_macros/_macro-imageHelper.twig' as imageHelper %}

{# Modul #}
{% if props.image %}
  <div {{ module.settings(props) }}>
    <picture style="background-color: {{- imageHelper.getDominantColor(props.image, true) -}}; ">
      {{- imageHelper.renderSource(props.image, 'portrait', true, '(orientation: portrait)') -}}
      {{- imageHelper.renderSource(props.image, 'landscape', true,  '(orientation: landscape)') -}}
      {{- imageHelper.renderImage(props.image, null, null, null, null, true) -}}
      {{- imageHelper.renderNoScript(props.image) -}}
    </picture>
  </div>
{% endif %}
