{#
c-imageCover
------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-coverImage',
  image: null,
  objectFit: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}
{% import '_macros/_macro-imageHelper.twig' as imageHelper %}

{# Modul #}
{% if props.image %}
  <div {{ macroComponentSettings.componentSettings(props.settings) }}>
    <picture style="background-color: {{- imageHelper.getDominantColor(props.image, true) -}}; ">
      {{- imageHelper.renderSource(props.image, 'portrait', true, '(orientation: portrait)') -}}
      {{- imageHelper.renderSource(props.image, 'landscape', true,  '(orientation: landscape)') -}}
      {{- imageHelper.renderImage(props.image, null, null, null, null, true) -}}
      {{- imageHelper.renderNoScript(props.image) -}}
    </picture>
  </div>
{% endif %}
