{% extends "_layouts/layout-patternlib.twig" %}

{% block blockAppContent %}
  {% cache using key craft.app.request.pathInfo %}
    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Primary buttons
      {% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "sm"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "md"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "lg"
                }
              },
              withContext = false
            )
          }}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Secondary buttons
      {% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "secondary",
                  variantSize: "sm"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "secondary",
                  variantSize: "md"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "secondary",
                  variantSize: "lg"
                }
              },
              withContext = false
            )
          }}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Outlined buttons
      {% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "outlined",
                  variantSize: "sm"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "outlined",
                  variantSize: "md"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "outlined",
                  variantSize: "lg"
                }
              },
              withContext = false
            )
          }}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Button with leading icon
      {% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "sm",
                  icon: "icons/sharp/mail",
                  iconSize: "sm"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "md",
                  icon: "icons/sharp/mail",
                  iconSize: "md"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "lg",
                  icon: "icons/sharp/mail",
                  iconSize: "md"
                }
              },
              withContext = false
            )
          }}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Button with trailing icons
      {% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "sm",
                  icon: "icons/sharp/mail",
                  iconSize: "sm",
                  reverse: true
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "md",
                  icon: "icons/sharp/mail",
                  iconSize: "md",
                  reverse: true
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "lg",
                  icon: "icons/sharp/mail",
                  iconSize: "md",
                  reverse: true
                }
              },
              withContext = false
            )
          }}
        </div>
      {% endblock %}
    {% endembed %}

    {# >>> Render variant #}
    {% embed "hidden/patternlib/_partials/_embedComp.twig" %}
      {% block label %}
        Round buttons
      {% endblock %}
      {% block content %}
        <div class="pl-compsInRowCentered">
          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "sm"
                },
                classes: {
                  rounded: "rounded-full"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "md"
                },
                classes: {
                  rounded: "rounded-full"
                }
              },
              withContext = false
            )
          }}

          {{
            include(
              "_components/button/button.twig",
              {
                data: {
                  url: "/hidden/patternlib",
                  text: "Button text",
                  variantStyle: "primary",
                  variantSize: "lg"
                },
                classes: {
                  rounded: "rounded-full"
                }
              },
              withContext = false
            )
          }}
        </div>
      {% endblock %}
    {% endembed %}


  {% endcache %}
{% endblock %}
