{#
  c-quote
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-quote',
  modifiers: [],
  customClasses: [],
  data: {},
  quote: null,
  source: null,
  sourceSubline: null,
  sourceUrl: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.quote %}
  <div {{ module.settings(props) }} xmlns="http://www.w3.org/1999/html">
    <blockquote class="{{ props.cn ~ '__blockquote' }} u-stack-2">
      <p>
        {{ props.quote | nl2br | raw }}
      </p>
      {% if props.source %}
        <footer class="u-stack-1">
          {% if props.sourceUrl %}
            <a href="{{ props.sourceUrl }}"><strong>{{ props.source }}</strong></a>
          {% else %}
            <strong>{{ props.source }}</strong>
          {% endif %}
          {% if props.sourceSubline %}
            <br>{{ props.sourceSubline }}
          {% endif %}
        </footer>
      {% endif %}
    </blockquote>
  </div>
{% endif %}
