{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-quote
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-quote',
  modifiers: [],
  customClasses: [],
  data: {},
  quote: null,
  source: null,
  sourceUrl: null,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.quote %}
  <div {{ module.settings(props) }}>
    <div class="{{ props.cn ~ '__inner' }}">
      <blockquote class="{{ props.cn ~ '__blockquote' }}">
        <p>
          {{ '"' ~ props.quote ~ '"' | raw }}
        </p>
        {% if props.source %}
          <footer>
            <cite>
              {% if props.sourceUrl %}
              <a href="{{ props.sourceUrl }}" target="_blank">
                {% endif %}
                {{ props.source }}
                {% if props.sourceUrl %}
              </a>
              {% endif %}
            </cite>
          </footer>
        {% endif %}
      </blockquote>
    </div>
  </div>
{% endif %}
