{#
  c-quote
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-quote',
  quote: null,
  source: null,
  sourceSubline: null,
  sourceUrl: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{# Modul #}
{% if props.quote %}
  <div {{ macroComponentSettings.componentSettings(props.settings) }} xmlns="http://www.w3.org/1999/html">
    <blockquote class="{{ props.cn ~ '__blockquote' }} u-stack-2">
      <p>
        {{ props.quote | nl2br | raw }}
      </p>
      {% if props.source %}
        <footer class="u-stack-1">
          {% if props.sourceUrl %}
            <a href="{{ props.sourceUrl }}"><strong>{{ props.source }}</strong></a>
          {% else %}
            <strong>{{ props.source }}</strong>
          {% endif %}
          {% if props.sourceSubline %}
            <br>{{ props.sourceSubline }}
          {% endif %}
        </footer>
      {% endif %}
    </blockquote>
  </div>
{% endif %}
