<!DOCTYPE html>
<html lang="en" class="is-patternLib">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if templateOptions is defined %}
      [{{ templateOptions.status }}]
      {{ templateOptions.title }}
      &mdash;
    {% endif %}{{ siteName }}
  </title>

  {# CRITICAL CSS #}
  {% set cacheVal = getCookie('critical-css') %}
  {% if not cacheVal or craft.app.config.general.devMode %}
    {{ setCookie('critical-css', now | date_modify("+7 days").timestamp ) }}
    {% block appInlineCSS %}
    {% endblock %}
  {% endif %}

  {% include '_partials/webpack/webpack-header.twig' %}
</head>
<body class="{{ bodyClass is defined ? bodyClass }} t-devMode">

<div class="o-appWrapper">
  <div class="colorSwitcher"></div>
  {# Render Pattern Lib Content #}

  <style>
    .colorSwitcher {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -32px;
      height: 20px;
      user-select: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .colorButton {
      width: 12px;
      height: 12px;
      margin: 4px;
      border-radius: 100%;
      user-select: none;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
  </style>


  <script type="text/javascript">
    var wrapper = document.querySelector('.o-appWrapper');
    var switcher = document.querySelector('.colorSwitcher');
    var colors = [
      'transparent',
      '#fff',
      '#7f7f7f',
      '#000',
    ];

    colors.forEach(function (color) {
      var newDiv = document.createElement('div');
      newDiv.style.backgroundColor = color;
      newDiv.className = 'colorButton';
      newDiv.setAttribute('data-color', color);
      switcher.appendChild(newDiv);
    });

    wrapper.style.transition = 'all 0.25s ease-in-out';
    if (localStorage.getItem('iFrameColor')) {
      wrapper.style.backgroundColor = localStorage.getItem('iFrameColor');
    }

    var buttons = document.querySelectorAll('.colorButton');
    console.log(buttons); // eslint-disable-line

    if (buttons) {
      buttons.forEach(function (button) {
        button.addEventListener('click', function() {
          localStorage.setItem('iFrameColor', button.getAttribute('data-color'));
          wrapper.style.backgroundColor = button.getAttribute('data-color');
        })
      })
    }
  </script>


  {% include component with {
    props: templateOptions | default([])
  } %}

  {% include '_partials/webpack/webpack-scripts.twig' %}
</div>

{# gridOverlay #}
{% include '_molecules/gridOverlay/_template.twig' only %}
</body>
</html>
