{#
  a-link
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-link',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  vSpace: null,
  url: null,
  targetBlank: null,
  text: null,
  icon: null,
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Macros -- #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{# -- Modul -- #}
{% if opt.text and opt.url %}
  <a href="{{ opt.url }}" {{ opt.url starts with '#' ? 'data-scroll' : '' }}  {{ module.settings(opt) }}
     itemprop="url"
     role="button"
    {{ opt.targetBlank ? 'target="_blank"' }}>

    {% if opt.icon %}
      {# -- Link Text -- #}
      <span class="{{ opt.cn ~ '__text' }}">
        {{ opt.text }}
      </span>

      {# -- Icon -- #}
      {% include '_atoms/svgIcon/_template.twig' with {
        opt: {
          icon: opt.icon
        }
      } only %}
    {% else %}
      {{ opt.text }}
    {% endif %}
  </a>
{% endif %}




