{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  a-checkbox
  ------------------------------------------------------------
#}

{#  Set Defaults #}
{% set defaults = {
  cn: 'a-checkbox',
  modifiers: [],
  customClasses: [],
  data: {},
  vSpace: null,
  waypoint: null,
  waypointAni: null,
  name: null,
  disabled: null,
  checked: null,
  label: null,
  id: null,
  value: null
} %}

{#  Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{#  Macros #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{#  Modul #}
{% if opt.name %}
  <div {{ module.settings(opt) }}>
    <input class="{{ opt.cn ~ '__checkbox' }}" type="checkbox" {% if opt.id %}id="{{ opt.id }}"{% endif %}
      {% if opt.name %}name="{{ opt.name }}"{% endif %}
      {% if opt.checked %}checked="checked"{% endif %}
      {% if opt.value %}value="{{ opt.value }}"{% endif %}
      {% for key, value in opt.data %}
        data-{{ key }}="{{ value }}"
      {% endfor %}
      {{ opt.disabled ? 'disabled' }} />
    {% if opt.label %}
      {#  label #}
      {% include '_atoms/label/_template.twig' with {
        opt: {
          customClasses: [opt.cn ~ '__label'],
          for: opt.id,
          text: opt.label
        }
      } only %}
    {% endif %}
  </div>
{% endif %}

