{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-contentBuilder',
    context: null,
  },
  classes: {
    root: '',
    custom: '',
  },
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.context %}
  {% do craft.app.elements.eagerLoadElements(
    className(props.data.context),
    [props.data.context],
    [
      'builderContent',
      'builderContent.blockImage:image',
      'builderContent.blockImageGallery:images',
      'builderContent.blockImageGrid:images',
      'builderContent.blockImageGridCalculated:images',
      'builderContent.blockImageSlider:images',
      'builderContent.blockTextFloatingImage:image',
    ]
  ) %}

  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    {% for block in props.data.context.builderContent %}

      {# Create Section if first block is not a section #}
      {% if loop.first and block.type.handle != 'blockSection' %}

        {# Create Section #}
        {{ include('_components/blocks/blockSection.twig', {
          block: block ??? null,
          closeCurrentSection: 0
        }, withContext = false) }}

        {# Create First Block #}
        {{ include('_builders/_blocks.twig', {
          block: block ??? null,
          closeCurrentSection: 0
        }, withContext = false) }}

      {% else %}
        {# Create block elements and close section if it's loop.first #}
        {{ include('_builders/_blocks.twig', {
          block: block ??? null,
          closeCurrentSection: loop.first ? 0 : 1,
        }, withContext = false) }}
      {% endif %}
    {% endfor %}
    {# Close Last Section #}
  </div>
  </div>
{% endif %}
