{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-contentBuilder',
    blocks: null,
    object: entry ??? null,
  },
  classes: {
    root: '',
    custom: '',
  },
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.blocks %}
<div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    {% for content in props.data.blocks %}

      {# Create Section if first block is not a section #}
      {% if loop.first and content.type.handle != 'cbSection' %}

        {# Create Section #}
        {{ include('_builders/_includes/_bSection.twig', {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: 0
        }, withContext = false) }}

        {# Create First Block #}
        {{ include('_builders/_blocks.twig', {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: 0
        }, withContext = false) }}

      {% else %}
        {# Create block elements and close section if it's loop.first #}
        {{ include('_builders/_blocks.twig', {
          data: content,
          builder: 'contentBuilder',
          closeCurrentSection: loop.first ? 0 : 1,
        }, withContext = false) }}
      {% endif %}
    {% endfor %}
    {# Close Last Section #}
    </div>
    </div>
  </div>
{% endif %}
