{#
  c-pageHead
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'm-pageHead',
  object: entry ??? null,
  text: null,
  size: 'h1',
  link: null
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}


{# Modul #}
{% if props.object or props.text %}
  {% if props.text %}
    {% set headline = props.text %}
  {% elseif props.object.entryCustomH1 ??? null and props.object.entryCustomH1 | length %}
    {% set headline = props.object.entryCustomH1 %}
  {% else %}
    {% set headline = props.object.title %}
  {% endif %}

  <{{ props.size }}>
  <div class="{{ props.cn ~ '__wrapper' }}">
    <div class="{{ props.cn ~ '__inner' }}">
      {% if props.link %}
      <a class="{{ props.cn ~ '__link' }}" href="{{ props.link }}">
        {% endif %}
        {{ headline | nl2br }}
        {% if props.link %}
      </a>
      {% endif %}
    </div>
  </div>
  </{{ props.size }}>
{% endif %}
