{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  m-pageHead
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-pageHead',
  modifiers: [],
  customClasses: [],
  data: {},
  object: entry ?? null,
  text: null,
  size: 'h1',
  link: null,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.object or props.text %}
  {% if props.text %}
    {% set headline = props.text %}
  {% elseif props.object.entryCustomH1 ?? null and props.object.entryCustomH1 | length %}
    {% set headline = props.object.entryCustomH1 %}
  {% else %}
    {% set headline = props.object.title %}
  {% endif %}

  <{{ props.size }} {{ module.settings(props) }}>
  <div class="{{ props.cn ~ '__wrapper' }}">
    <div class="{{ props.cn ~ '__inner' }}">
      {% if props.link %}
      <a class="{{ props.cn ~ '__link' }}" href="{{ props.link }}">
        {% endif %}
        {{ headline | nl2br }}
        {% if props.link %}
      </a>
      {% endif %}
    </div>
  </div>
  </{{ props.size }}>
{% endif %}
