{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-imageGrid',
    images: null,
    caption: null,
    aspectRatio: 'aspect-landscape',
    variantColumns: 2,
  },
  classes: {
    root: 'grid grid-cols-1 gap-4 md:gap-8',
    custom: '',
  },
  variants: {
    columns: {
      2: 'md:grid-cols-2',
      3: 'md:grid-cols-3'
    }
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
  variants: compDefaults.variants,
} %}


{# Modul #}
{% if props.data.images ??? null %}
  <div class="{{ props.data.name }}  {{ props.classes.root }}  {{ props.variants.columns[props.data.variantColumns] }} {{ props.classes.custom }}">
    {% for image in props.data.images %}
      {{ include('_components/image/image.twig', {
        data: {
          image: image ??? null,
          aspectRatio: props.data.aspectRatio ??? null,
          caption: props.data.caption ??? null,
        },
        classes: {
          custom: 'col-span-1'
        }
      }, withContext = false) }}
    {% endfor %}
  </div>
{% endif %}
