{# >>> Comp Settings #}
{% set compDefaults = {
  settings: {
    name: 'c-imageGrid',
  },
  data: {
    images: null,
    caption: null,
    transform: 'landscape',
    variant: 2,
  },
  classes: {
    root: 'grid grid-cols-1 gap-4 md:gap-8',
    custom: '',
  },
  variants: {
    2: 'md:grid-cols-2',
    3: 'md:grid-cols-3'
  }
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
  variants: compDefaults.variants,
} %}


{# Modul #}
{% if props.data.images ??? null %}
  <div class="{{ props.settings.name }}  {{ props.classes.root }}  {{ props.variants[props.data.variant] }} {{ props.classes.custom }}">
    {% for image in props.data.images %}
      {{ include('_components/image/image.twig', {
        data: {
          image: image ??? null,
          transform: props.data.transform ??? null,
          caption: props.data.caption ??? null,
        },
        classes: {
          custom: 'col-span-1'
        }
      }, withContext = false) }}
    {% endfor %}
  </div>
{% endif %}
