{# Set Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-code',
    snippet: null,
    snippetName: '…',
    language: 'txt',
    collapsed: true,
    textShow: 'translate.component.code.textShow' | t,
    textHide: 'translate.component.code.textHide' | t,
    textCopy: 'translate.component.code.textCopy' | t,
    textCopied: 'translate.component.code.textCopied' | t,
  },
  classes: {
    root: 'relative before:bg-gradient-to-b before:from-black/0 before:via-black/10 before:to-black/90 before:inset-0 before:absolute before:z-10 before:pointer-events-none',
    custom: '',
    pre: '!pt-[4rem] lg:!pt-[5rem] !rounded-md bg-gray-900 text-white !text-sm',
    code: '!text-sm !font-mono',
    toolBar: 'flex flex-row justify-between items-center font-bold absolute top-0 left-0 lg:left-20 right-0 z-20 border-b bg-gray-900 border-black h-14 rounded-t-md text-white text-sm px-4',
    buttonHolder: 'flex flex-row',
    button: 'a11y-keyboard-focus relative bg-secondary-300 hover:bg-secondary-400 text-secondary-900 rounded text-xs font-bold px-1 flex items-center ml-2 cursor-default select-none',
    tooltip: 'c-tooltip c-tooltip--no-hover c-tooltip--n'
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Modul #}
{% if props.data.snippet %}
  <div class="alpinejs js-code {{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}"
       x-data="{
        collapsed: '{{ props.data.collapsed }}',
        textShow: '{{ props.data.textShow }}',
        textHide: '{{ props.data.textHide }}',
        textCopy: '{{ props.data.textCopy }}',
        textCopied: '{{ props.data.textCopied }}',
      }" :class="[collapsed ? 'before:opacity-100' : 'before:opacity-0']">

    <pre class="line-numbers  language-{{ props.data.language }}  {{ props.classes.pre }}"
         :class="[collapsed ? 'max-h-40' : '']">
      <code class="language-{{ props.data.language }} {{ props.classes.code }}">{{- props.data.snippet | e -}}</code>
    </pre>

    <div class="{{ props.classes.toolBar }}">
      <span>{{ props.data.snippetName }}</span>

      <div class="{{ props.classes.buttonHolder }}">
        <button class="relative js-codeCopy {{ props.classes.button }} {{ props.classes.tooltip }}"
             :aria-label="textCopied"
             x-text="textCopy">
        </button>

        <textarea class="sr-only" tabindex="-1">
          {{- props.data.snippet | e -}}
        </textarea>

        <button class="{{ props.classes.button }}"
             @click="collapsed = !collapsed;"
             x-text="collapsed ? textShow : textHide">
        </button>
      </div>
    </div>

  </div>
{% endif %}
