{# >>> Comp Settings #}
{% set compDefaults = {
  settings: {
    name: 'c-text',
  },
  data: {
    text: null,
    variant: 'rich'
  },
  classes: {
    root: 'space-y-4 md:space-y-8 max-w-prose',
    custom: '',
  }
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}


{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{# Modul #}
{% if props.data.text %}
  <div class="{{ props.classes.root }}
    {{ props.classes.custom }}"
    {{ macroComponentSettings.componentSettings(props.settings) }}>
    {% if props.data.variant == 'rich' %}
      {{ props.data.text | raw }}
    {% else %}
      {{ props.data.text | nl2br | raw }}
    {% endif %}
  </div>
{% endif %}
