{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  a-select
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-select',
  modifiers: [],
  customClasses: [],
  data: {},
  info: null,
  array: null,
  object: null,
  label: null,
  firstOption: null,
  required: null,
  disabled: null,
  name: null,
  id: null,
  selected: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Macros -- #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{# -- Modul -- #}
{% if opt.object or opt.array %}
  <div {{ module.settings(opt) }}>
    <select class="{{ opt.cn ~ '__select' }}"
      {% if opt.required %} required data-required="true"{% endif %}
      {% if opt.id %}id="{{ opt.id }}"{% endif %}
      {% if opt.name %}name="{{ opt.name }}"{% endif %} {{ opt.disabled ? ' disabled' }}>

      {% if opt.firstOption %}
        <option value="{{ opt.firstOption.value }}">{{ opt.firstOption.text }}</option>
      {% endif %}
      {% if opt.object %}
        {% for key, value in opt.object %}
          <option value="{{ key }}" {% if key == opt.selected %} selected{% endif %}>{{ value }}</option>
        {% endfor %}
      {% endif %}

      {% if opt.array %}
        {% for key, option in opt.array %}
          <option value="{{ key }}" {% if key == opt.selected %} selected{% endif %}>{{ option }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <label class="{{ opt.cn ~ '__label' }}" for="{{ opt.id }}">{{ opt.label }}</label>
    <span class="{{ opt.cn ~ '__info' }}">{{ opt.info }}</span>
  </div>
{% endif %}

