{# Set Defaults #}
{% set defaults = {
  cn: 'c-code',
  data: {},
  open: false,
  js: true,
  textShow: 'translate.component.code.show' | t,
  textHide: 'translate.component.code.hide' | t,
  textCopy: 'translate.component.code.copy' | t,
  textCopied: 'translate.component.code.copied' | t,
  snippet: null,
  language: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.snippet %}
  <div {{ macroComponentSettings.componentSettings(props) }} data-status="{{ props.open ? 'open' : 'closed' }}">
    <div class="{{ props.cn ~ '__wrapper' }}">
        <pre class="line-numbers  language-{{ props.language }}  {{ props.cn ~ '__codeWrapper' }}">
          <code class="{{ props.cn ~ '__code' }}">{{- props.snippet | e -}}</code>
        </pre>
    </div>

    <div class="{{ props.cn ~ '__buttons' }}">
      <span
        class="{{ props.cn ~ '__button' }}  {{ props.cn ~ '__button--copy' }}  js-codeCopy c-tooltip c-tooltip--no-hover c-tooltip--n"
        aria-label="{{ props.textCopied }}">
        {{ props.textCopy }}
      </span>

      <span class="{{ props.cn ~ '__button' }}  {{ props.cn ~ '__button--toggle' }} js-codeToggle"
            data-status="{{ props.open ? 'open' : 'closed' }}"
            data-show="{{ props.textShow }}"
            data-hide="{{ props.textHide }}">
        {{ props.open ? props.textHide : props.textShow }}
      </span>

      <textarea class="sro">
        {{- props.snippet | e -}}
      </textarea>
    </div>
  </div>
{% endif %}
