{# Set Defaults #}
{% set defaults = {
  cn: 'c-code',
  modifiers: [],
  customClasses: ['js-code'],
  data: {},
  open: false,
  textShow: 'Expand Code Block',
  textHide: 'Collapse Code Block',
  snippet: null,
  language: null
} %}

{# TODO: Translations #}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.snippet %}
  <div {{ module.settings(props) }} data-status="{{ props.open ? 'open' : 'closed' }}">
    <div class="{{ props.cn ~ '__wrapper' }}">
      {% spaceless %}
        <pre class="line-numbers  language-{{ props.language }}  {{ props.cn ~ '__codeWrapper' }}">
          <code class="{{ props.cn ~ '__code' }}">{{- props.snippet | e -}}</code>
        </pre>
      {% endspaceless %}
    </div>
  </div>
  <span class="{{ props.cn ~ '__toggle' }}"
        data-status="{{ props.open ? 'open' : 'closed' }}"
        data-show="{{ props.textShow }}"
        data-hide="{{ props.textHide }}">
    <span class="{{ props.cn ~ '__toggleTextHolder' }} js-textHolder">{{ props.open ? props.textHide : props.textShow }}</span>
  </span>
{% endif %}
