{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-gridOverlay',
    maxCols: 24,
    outlineColor: 'rgba(216, 27, 96, 0.25)',
    backgroundColor: 'rgba(216, 27, 96, 0.05)',
  },
  classes: {
    root: 'fixed z-10000 top-0 w-screen h-screen pointer-events-none',
    custom: '',
    gridWrapper: 'container h-screen grid gap-x-4 md:gap-x-8',
    button: 'fixed left-4 bottom-4 z-1000 bg-[#333] rounded-full w-8 h-8 cursor-pointer select-none',
    gridCol: 'gap-x-5 md:gap-x-10 grid-cols-6 sm:grid-cols-12 xl:grid-cols-24',
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Modul #}
  <div alpinejs x-data="{ open: localStorage.getItem('gridOverlay') || 'false' }"
       x-init="$watch('open', (val) => localStorage.setItem('gridOverlay', val))">

    {# Button #}
    <div class="{{ props.classes.button }}"
         @click="open = open === 'true' ? 'false' : 'true'">
      <span class="w-0.5 h-3 bg-white absolute" style="left: calc(50% - 6px); top: 50%; transform: translate(-50%, -50%)"></span>
      <span class="w-1 h-3 bg-white absolute" style="left: 50%; top: 50%; transform: translate(-50%, -50%)"></span>
      <span class="w-0.5 h-3 bg-white absolute" style="left: calc(50% + 6px); top: 50%; transform: translate(-50%, -50%)"></span>
    </div>

    {# Grid #}
    <div class="{{ props.classes.root }} {{ props.classes.custom }}"
         style="display: none; outline: 1px solid {{ props.data.outlineColor }}"
         x-show="open === 'true'"
     >
      <div class="{{ props.classes.gridWrapper }} {{ props.classes.gridCol }}" >
        {% for i in 1..props.data.maxCols %}
          <div class="h-screen" style="background-color: {{ props.data.backgroundColor }}; box-shadow: 1px 0px 0px 0px {{ props.data.outlineColor }}, -1px 0px 0px 0px {{ props.data.outlineColor }};"></div>
        {% endfor %}
      </div>
    </div>
  </div>

