{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  o-cards
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-cards',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  items: null,
  image: true,
  content: true,
  link: true,
  pageInfo: null,
  pagination: null,
  paginationSimple: null,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if opt.items %}
  {# Include Variant #}
{% include '_atoms/logo/_template-' ~ opt.variant | default('basic') ~ '.twig' with {
  opt: opt ??? null
} only %}
  <div {{ module.settings(opt) }}>
    <div class="{{ opt.cn ~ '__wrapper' }}">
      <div class="{{ opt.cn ~ '__inner' }}">
        <div class="o-row">
          {% for item in opt.items %}
            <div class="o-col-12  o-col-s-8 {{ opt.cn ~ '__item' }}">
              {% include '_molecules/card/_template.twig' with {
                opt: {
                  item: item,
                  image: opt.image,
                  content: opt.content,
                  link: opt.link
                }
              } only %}
            </div>
          {% endfor %}

          {% if opt.pagination and opt.pageInfo.totalPages > 1 %}
            <div class="o-col-12  o-col-s-24  {{ opt.cn ~ '__pagination' }}">
              {% if opt.paginationSimple %}
                {# Pagination Simple #}
                {% import '_partials/macros/_macro-paginationSimple.twig' as macroPaginationSimple %}
                {{ macroPaginationSimple.paginationSimple(opt.pageInfo, craft, {}) }}
              {% else %}
                {# Pagination #}
                {% import '_partials/macros/_macro-pagination.twig' as macroPagination %}
                {{ macroPagination.pagination(opt.pageInfo, craft, {}) }}
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
