{# Set Defaults #}
{% set compDefaults = {
  settings: {
    name: 'c-header',
  },
  data: {
    url: siteUrl,
    logoSize: 'sm',
    name: getenv('SITE_NAME'),
  },
  classes: {
    root: 'bg-gray-100',
    custom: '',
    container: 'container py-8 flex items-center',
    homeLink: 'flex items-center',
    h1: 'text-base font-bold ml-4'
  }
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

<header class="{{ props.settings.name }} {{ props.classes.root }}  {{ props.classes.custom }}">
  <div class=" {{ props.classes.container }}">
    <a href="{{ props.data.url }}" class="{{ props.classes.homeLink }}">
      {% include '_components/logo/logo.twig' with {
        data: {
          variant: props.data.logoSize ??? 'md'
        },
      } only %}
      <h1 class="{{ props.classes.h1 }}">{{ props.data.name }}</h1>
    </a>
  </div>
</header>

