{#
  a-code
  ------------------------------------------------------------
#}

{#  Set Defaults #}
{% set defaults = {
  cn: 'a-code',
  modifiers: [],
  customClasses: ['js-code'],
  data: {},
  vSpace: null,
  open: true,
  textShow: 'Expand Code Block',
  textHide: 'Collapse Code Block',
  snippet: null,
  language: null
} %}

{#  Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{#  Macros #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{#  Modul #}
{% if opt.snippet %}
  <div {{ module.settings(opt) }} data-status="{{ opt.open ? 'open' : 'closed' }}">
    <div class="{{ opt.cn ~ '__wrapper' }}">
      {% spaceless %}
        <pre class="line-numbers  language-{{ opt.language }}  {{ opt.cn ~ '__codeWrapper' }}">
          <code class="{{ opt.cn ~ '__code' }}">{{- opt.snippet | e -}}</code>
        </pre>
      {% endspaceless %}
    </div>
  </div>
  <span class="{{ opt.cn ~ '__toggle' }}"
        data-status="{{ opt.open ? 'open' : 'closed' }}"
        data-show="{{ opt.textShow }}"
        data-hide="{{ opt.textHide }}">
    <span class="{{ opt.cn ~ '__toggleTextHolder' }} js-textHolder">{{ opt.open ? opt.textHide : opt.textShow }}</span>
  </span>
{% endif %}
