{#
  Accordion
  =========
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-accordion',
  modifiers: [],
  customClasses: [],
  data: {},
  items: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.items %}
  <div {{ module.settings(props) }} role="tablist">
    <div class="{{ props.cn ~ '__wrapper' }}">
      <div class="{{ props.cn ~ '__inner' }}">
        {% for item in props.items %}
          <div class="{{ props.cn ~ '__item' }}" role="tab">
            <div class="{{ props.cn ~ '__trigger' }}  js-accordionTrigger">
              <div class="{{ props.cn ~ '__headline' }}">
                {{ item.accordionTrigger ?? 'Trigger' }}
              </div>
            </div>

            <div class="{{ props.cn ~ '__content' }}" role="tabpanel">
              {# richText #}
              {% include '_atoms/richText/_template.twig' with {
                props: {
                  text: item.accordionContent ?? null
                }
              } only %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

