{#
  Accordion
  =========
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-accordion',
  modifiers: [],
  customClasses: [],
  data: {},
  trigger: null,
  content: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.trigger and props.content %}
  <div {{ module.settings(props) }}>
    <div class="{{ props.cn ~ '__trigger' }} js-accordionTrigger">
      {{ props.trigger }}
      <span class="{{ props.cn ~ '__indicator' }}"></span>
    </div>
    <div class="{{ props.cn ~ '__content' }}">
      {{ props.content | raw }}
    </div>
  </div>
{% endif %}

