{#
  a-link
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-link',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  twClasses: null,
  targetBlank: null,
  url: null,
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{# Default Class Set #}
{% set twClasses = 'inline-block px-2 py-1 text-gray-700 hover:text-gray-900 bg-gray-100 rounded-5px shadow-5 hover:shadow-1' %}
{# purgecss: inline-block px-2 py-1 text-gray-700 hover:text-gray-900 bg-gray-100 rounded-5px shadow-5 hover:shadow-1 #}

{% if props.text and props.url %}
  <a class="{{ twClasses }}" href="{{ props.url }}" {{ props.url starts with '#' ? 'data-scroll' : '' }}  {{ module.settings(props) }} {{ props.targetBlank ? 'target="_blank"' }}>
    {{ props.text }}
  </a>
{% endif %}
