{#
  a-link
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'a-link',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  url: null,
  targetBlank: null,
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.text and props.url %}
  <a href="{{ props.url }}" {{ props.url starts with '#' ? 'data-scroll' : '' }}  {{ module.settings(props) }} {{ props.targetBlank ? 'target="_blank"' }}>
    {{ props.text }}
  </a>
{% endif %}
