{#
  a-link
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-link',
  data: {},
  js: null,
  targetBlank: null,
  url: null,
  text: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.text and props.url %}
  <a {{ macroComponentSettings.componentSettings(props) }}
    href="{{ props.url }}" {{ props.url starts with '#' ? 'data-scroll' : '' }}  {{ macroComponentSettings.componentSettings(props) }} {{ props.targetBlank ? 'target="_blank"' }}>
    {{ props.text }}
  </a>
{% endif %}
