{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    url: siteUrl,
    name: 'c-footer',
  },
  classes: {
    root: 'bg-gray-100  mt-auto',
    custom: '',
    container: 'container py-4 text-sm',
    footerLink: 'underline hover:no-underline font-bold'
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

<footer class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
  <div class="{{ props.classes.container }}">
    <a class="{{ props.classes.footerLink }}" href="{{ props.data.url }}">Baukasten</a> &copy;2014 &mdash; {{ "now"|date("Y") }}
  </div>
</footer>
