{# Set Defaults #}
{% set defaults = {
  cn: 'a-youtube-basic',
  modifiers: [],
  customClasses: [],
  data: {},
  videoId: null,
  autoplay: 0,
  loop: 0,
  showinfo: 0,
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}
{% set props= props| merge({
  customClasses: props.customClasses | merge([
    'u-ratio',
    'u-ratio--16-9',
  ])
}) %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}
{% import '_macros/_macro-cookies.twig' as cookies %}

{# GDPR Ready Youtube Embeds#}
{% set orejime = cookies.get('orejime') %}
{% set craftEnv = craft.app.config.env != 'live' ? true : false %}
{% if orejime.youtube ??? craftEnv ??? null %}
  {% if props.videoId %}
    <div {{ module.settings(props) }}>
      <iframe class="lazyload"
              data-src="https://www.youtube-nocookie.com/embed/{{ props.videoId }}?rel=0&loop={{ props.loop }}&showinfo={{ props.showinfo }}&autoplay={{ props.autoplay }}"
              frameborder="0">
      </iframe>

      <div class="{{ props.cn ~ '__notAllowed' }}">
        <span onclick="window.orejime.show()">{{ 'gdrp.label.manageSettings' | t }}</span>
      </div>

      {# TODO: GDPR Solution #}
      {#{% if not orejime.youtube ??? null %}
        #}{# cookieClue #}{#
        {% include '_atoms/cookieClue/_template.twig' with {
          props: {}
        } only %}
      {% endif %}#}
    </div>
  {% endif %}
{% endif %}

