{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-switcherLanguage',
  },
  classes: {}
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

<div>
  {# http://craftsnippets.com/articles/universal-language-switcher-for-craft-cms #}

  {# logic #}
  {% set currentElement = craft.app.urlManager.matchedElement %}
  {% set sites = craft.app.getSites().getGroupById(currentSite.groupId).getSites() %}
  {% set switcherLinks = [] %}


  {% for site in sites if site.baseUrl is not empty %}

    {% set title = craft.app.i18n.getLocaleById(site.language).displayName %}
    {% set url = site.getBaseUrl() %}
    {% if currentElement %}
      {% set otherLocaleElement = craft.app.getElements().getElementById(currentElement.id, currentElement.className(), site.id) %}
      {% if otherLocaleElement and otherLocaleElement.enabledForSite %}
        {% set url = otherLocaleElement.url %}
      {% endif %}
    {% endif %}

    {% set switcherLinks = switcherLinks|merge([{
      url: url,
      title: title,
      countryCode: site.language|split('-')|last,
      current: site.id == currentSite.id ? true : false,
      language: site.language,
    }]) %}

  {% endfor %}

  {# outputting html #}
  {% if switcherLinks|length > 0 %}
    <nav aria-label="{{ 'Switch language' | t }}" aria-role="navigation" class="js-languageSwitcher js-languageSwitcherTrigger flex items-end cursor-pointer relative">
      {% for switcherLink in switcherLinks %}
        {% if switcherLink.current %}
          <span class="mr-8 text-gray-3 opacity-50">{{ switcherLink.title }}</span>
          {{ include('_components/icon/icon.twig', {
            props: {
              customClasses: 'js-languageSwitcherTriggerIcon absolute bottom-[-2px] right-0 transition-all text-gray-3 opacity-50',
              icon: 'arrow-down',
              size: 'w-5 h-5',
            }
          }, withContext = false) }}
        {% endif %}
      {% endfor %}

      <div class="js-languageSwitcherMenu hidden absolute bottom-8 right-0 w-[144px] h-[192px] overflow-x-auto bg-white rounded text-gray text-base">
        {% for switcherLink in switcherLinks %}
          <a href="{{ switcherLink.url }}" hreflang="{{ switcherLink.language }}" lang="{{ switcherLink.language }}" class="hover:bg-primary hover:text-white">
            <div class="px-6 py-1 hover:bg-primary hover:text-white {{ switcherLink.current ? 'bg-primary text-white' }} ">
              <span>{{ switcherLink.title }}</span>
            </div>
          </a>
          <a href="{{ switcherLink.url }}" hreflang="{{ switcherLink.language }}" lang="{{ switcherLink.language }}" class="hover:bg-primary hover:text-white">
            <div class="px-6 py-1 hover:bg-primary hover:text-white {{ switcherLink.current ? 'bg-primary text-white' }} ">
              <span>{{ switcherLink.title }}</span>
            </div>
          </a>
          <a href="{{ switcherLink.url }}" hreflang="{{ switcherLink.language }}" lang="{{ switcherLink.language }}" class="hover:bg-primary hover:text-white">
            <div class="px-6 py-1 hover:bg-primary hover:text-white {{ switcherLink.current ? 'bg-primary text-white' }} ">
              <span>{{ switcherLink.title }}</span>
            </div>
          </a>
          <a href="{{ switcherLink.url }}" hreflang="{{ switcherLink.language }}" lang="{{ switcherLink.language }}" class="hover:bg-primary hover:text-white">
            <div class="px-6 py-1 hover:bg-primary hover:text-white {{ switcherLink.current ? 'bg-primary text-white' }} ">
              <span>{{ switcherLink.title }}</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </nav>
  {% endif %}
</div>

