{# Set Defaults #}
{% set defaults = {
  cn: 'c-caption',
  data: {},
  customClasses: null,
  element: 'figcaption',
  headline: null,
  text: null,
  source: null,
  sourceUrl: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.headline or props.text %}
  <{{ props.element }} class="bg-white {{ props.customClasses }}" {{ macroComponentSettings.componentSettings(props) }}>
  {# Headline --#}
  {% if props.headline ?? null %}
    <strong>{{- props.headline ~ ' ' -}}</strong>
  {% endif %}

  {# Caption #}
  <p>
    {{ props.text | nl2br }}

    {% if props.source and props.sourceUrl %}
      &mdash;&nbsp;
      <a href="{{ props.sourceUrl }}">{{ props.source }}</a>
    {% elseif props.source ?? null %}
      &mdash;&nbsp;
      {{ props.source }}
    {% endif %}
  </p>
  </{{ props.element }}>
{% endif %}


