{#
  m-caption
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-caption',
  modifiers: [],
  customClasses: [],
  twClassSet: null,
  data: {},
  element: 'figcaption',
  headline: null,
  text: null,
  source: null,
  sourceUrl: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

{# Modul #}
{% if props.headline ?? null or props.text ?? null %}
  <{{ props.element }} {{ module.settings(props, twClasses.root) }}>
  <div class="{{ props.cn ~ '__wrapper' }}">
    <div class="{{ props.cn ~ '__inner' }}">

      {# Headline --#}
      {% if props.headline ?? null %}
        <strong>{{- props.headline ~ ' ' -}}</strong>
      {% endif %}

      {# Caption #}
      {{ props.text ?? null }}{{ props.source ? '&nbsp;&mdash;&nbsp;' }}

      {# Caption Source Url #}
      {% if (props.source ?? null) and (props.sourceUrl ?? null) %}
        {# link #}
        {% include '_atoms/link/_template.twig' with {
          props: {
            modifiers: ['inline'],
            url: props.sourceUrl ?? null,
            targetBlank: true,
            text: props.source ?? null,
            icon: null,
          }
        } only %}
      {% elseif props.source ?? null %}
        {{ props.source }}
      {% endif %}
    </div>
  </div>
  </{{ props.element }}>
{% endif %}
