{#
  c-spinner
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-spinner',

  data: {}
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
<div {{ module.settings(props) }}>
  <div class="{{ props.cn ~ '__bounce' }} {{ props.cn ~ '__bounce--1' }}"></div>
  <div class="{{ props.cn ~ '__bounce' }} {{ props.cn ~ '__bounce--2' }}"></div>
  <div class="{{ props.cn ~ '__bounce' }} {{ props.cn ~ '__bounce--3' }}"></div>
</div>
