{# Set Defaults #}
{% set defaults = {
  cn: 'c-imageGallery',
  modifiers: [],
  customClasses: [],
  data: {},
  js: true,
  images: null,
  ratio: null,
  cutAfter: null,
  caption: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}
{% set props= props| merge({  customClasses: props.customClasses | merge(['js-imageGallery'])}) %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props) }}>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images %}
        {% set imageSrc = image.getUrl() %}
        {% set imageMaxWidth = image.getWidth() %}
        {% set imageMaxHeight = image.getHeight() %}

        <figure
          class="{{ props.cn ~ '__figure' }} {{ (loop.index >= (props.cutAfter + 2) and props.cutAfter) ? 'is-hidden' : null }}">
          <a class="{{ props.cn ~ '__link' }}"
             href="{{ imageSrc }}"
             data-size="{{ imageMaxWidth }}x{{ imageMaxHeight }}">

            {% if not (loop.index == (props.cutAfter + 1) and props.cutAfter) %}
              {% include '_components/image/image.twig' with {
                props: {
                  image: image ??? null,
                  transform: 'thumbnail'
                }
              } only %}
            {% endif %}
          </a>

          {% if props.caption %}
            {% include '_components/caption/caption.twig' with {
              props: {
                headline: image.assetTitle ??? null,
                text: image.assetCaption ??? null,
                source: image.assetSource ??? null,
                sourceUrl: image.assetSourceUrl ??? null,
              }
            } only %}
          {% endif %}

          {% if (loop.index == (props.cutAfter + 1) and props.cutAfter) %}
            <div class="{{ props.cn ~ '__more' }} js-imageGallery--more">
              +{{ props.images | length - props.cutAfter }}
            </div>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  </div>
{% endif %}
