{# Set Defaults #}
{% set defaults = {
  name: 'c-imageGallery',
  _js: true,
  images: null,
  ratio: null,
  cutAfter: null,
  caption: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Modul #}
{% if props.images %}
  <div>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images %}
        {% set imageSrc = image.getUrl() %}
        {% set imageMaxWidth = image.getWidth() %}
        {% set imageMaxHeight = image.getHeight() %}

        <figure
          class="{{ props.cn ~ '__figure' }} {{ (loop.index >= (props.cutAfter + 2) and props.cutAfter) ? 'is-hidden' : null }}">
          <a class="{{ props.cn ~ '__link' }}"
             href="{{ imageSrc }}"
             data-size="{{ imageMaxWidth }}x{{ imageMaxHeight }}">

            {% if not (loop.index == (props.cutAfter + 1) and props.cutAfter) %}
              {% include '_components/image/picture.twig' with {
                props: {
                  image: image ??? null,
                  transform: 'thumbnail'
                }
              } only %}
            {% endif %}
          </a>

          {% if props.caption %}
            {% include '_components/caption/caption.twig' with {
              props: {
                headline: image.assetTitle ??? null,
                text: image.assetCaption ??? null,
                source: image.assetSource ??? null,
                sourceUrl: image.assetSourceUrl ??? null,
              }
            } only %}
          {% endif %}

          {% if (loop.index == (props.cutAfter + 1) and props.cutAfter) %}
            {# TODO: Multiline Todo and Translations #}
            <div class="{{ props.cn ~ '__more' }} js-imageGallery--more c-tooltip c-tooltip--n" aria-label=" ;akosjd ;kasdipash jdpi asipdh asipodiaoh sdidash">
              +{{ props.images | length - props.cutAfter }}
            </div>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  </div>
{% endif %}
