{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-imageGallery',
    images: null,
    aspectRatio: 'aspect-landscape',
    cutAfter: 3,
    caption: null
  },
  classes: {
    root: 'relative group grid grid-cols-2 md:grid-cols-3 grid-rows-3 md:grid-rows-2 w-full gap-1',
    custom: '',
    image1: 'col-span-1 md:col-span-2 row-span-1 md:row-span-2',
    image2: 'col-span-1 row-span-1',
    image3: 'col-span-2 md:col-span-1 row-span-2 md:row-span-1',
    button: 'absolute pointer-events-none  bottom-10 right-1/2 md:right-10  translate-x-1/2  md:translate-x-0'
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}


{# Modul #}
{% if props.data.images ??? null %}
  {% set dynamicData = [] %}
  {% for image in props.data.images %}
    {% set title = image.assetTitle ??? '' %}
    {% set caption = '' %}
    {% if image.assetCaption %}
      {% set caption = image.assetCaption %}
    {% endif %}
    {% set dynamicData = dynamicData|merge([{
      "src": image.url,
      "thumb": craft.imager.transformImage(image, 'auto') | last.url ??? '',
      "subHtml": (title ? "<strong>#{title}</strong>" : "")  ~ (caption ? "<br>#{caption}" : ""),
    }]) %}
  {% endfor %}

  <button class="js-imageGallery {{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}"
          type="button"
          data-dynamic-data='{{ dynamicData | json_encode }}'>
    {% for image in props.data.images |slice(0, props.data.cutAfter) %}
      <div class="{{ props.classes['image' ~ loop.index] }}">
        {{ include('_components/image/image.twig', {
          data: {
            image: image ??? null,
            aspectRatio: props.data.aspectRatio,
            objectFit: 'cover',
          }
        }, withContext = false) }}
      </div>
    {% endfor %}
    {{ include('_components/button/button.twig', {
      data: {
        url: '#',
        text: 'translate.component.gallery.images.showAll' | t({ count: props.data.images|length }),
        variantStyle: 'primary',
        variantSize: 'sm'
      },
      classes: {
        custom: props.classes.button
      }
    }, withContext = false) }}
  </button>
{% endif %}
