{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-blockImages',
    block: null,
    blockNumber: null,
  },
  classes: {
    root: 'container ',
    custom: '',
  },
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.block.images ??? null %}
  <div class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}">
    {% set variant = props.data.block.variant %}

    {% if variant == 'grid2Cols' or variant == 'grid3Cols' %}
      {% set cols = 2 %}
      {% if variant == 'grid3Cols' %}
        {% set cols = 3 %}
      {% endif %}

      {{ include('_components/grid/images.twig', {
        data: {
          images: props.data.block.images ??? null,
          variantColumns: cols ??? 2,
          caption: props.data.block.showImageCaption ??? null,
          aspectRatio: props.data.block.imageRatio.value ??? 'aspect-landscape',
          lazy: props.data.blockNumber >= 5 ? true : false,
        }
      }, withContext = false) }}
    {% endif %}

    {% if variant == 'gridCalculated' %}
      {{ include('_components/grid/imagesCalculated.twig', {
        data: {
          images: props.data.block.images ??? null,
          caption: props.data.block.showImageCaption ??? null,
          lazy: props.data.blockNumber >= 5 ? true : false,
        }
      }, withContext = false) }}
    {% endif %}

    {% if variant == 'gallery' %}
      <div class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}">
        {{ include('_components/gallery/images.twig', {
          data: {
            images: props.data.block.images ??? null,
            lazy: props.data.blockNumber >= 5 ? true : false,
          }
        }, withContext = false) }}
      </div>
    {% endif %}

    {% if variant == 'slider' %}
      <div class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}">
        {{ include('_components/slider/sliderImages.twig', {
          data: {
            slides: props.data.block.images ??? null,
            aspectRatio: props.data.block.imageRatio.value ??? 'aspect-landscape'
          },
        }, withContext = false) }}
      </div>
    {% endif %}

  </div>
{% endif %}
