{#
  c-freeform
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-freeform',

  form: null,
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

<div {{ macroComponentSettings.componentSettings(props) }} data-form-handle="{{ props.form.handle }}">

  {% set form = props.form %}

  {{ form.renderTag }}

  {% if form.pages|length > 1 %}
    <ul class="freeform-pages">
      {% for page in form.pages %}
        <li>
          {% if form.currentPage.index == page.index %}
            <b>{{ page.label }}</b>
          {% else %}
            {{ page.label }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if form.hasErrors %}
    <div class="freeform-form-has-errors">
      {{ "Error! Please review the form and try submitting again." | t('freeform') }}

      {% if form.errors|length %}
        <ul>
          {% for error in form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}

  {% for row in form %}
    <div class="freeform-row {{ form.customAttributes.rowClass }}">
      {% for field in row %}
        {% set columnClass = "freeform-column " ~ form.customAttributes.columnClass %}
        {% if field.type == "submit" %}
          {% set columnClass = columnClass ~ " freeform-column-content-align-" ~ field.position %}
        {% endif %}
        <div class="{{ columnClass }}"{{ field.rulesHtmlData }}>
          {{ field.render({
            class: field.type not in ["submit", "signature"] ? "freeform-input" : "",
            labelClass: "freeform-label" ~ (field.inputOnly ? " freeform-input-only-label" : "") ~ (field.required ? " freeform-required" : ""),
            errorClass: "freeform-errors",
            instructionsClass: "freeform-instructions",
          }) }}

          {# FOR FREEFORM PAYMENTS #}
          {% if field.layoutRows is defined %}
            {% for layoutRow in field.layoutRows %}
              <div class="freeform-row {{ form.customAttributes.rowClass }}">
                {% for layoutField in layoutRow %}
                  <div class="{{ columnClass }}">
                    {{ layoutField.render({
                      class: "freeform-input",
                      labelClass: "freeform-label" ~ (layoutField.inputOnly ? " freeform-input-only-label" : "") ~ (layoutField.required ? " freeform-required" : ""),
                      errorClass: "freeform-errors",
                      instructionsClass: "freeform-instructions",
                    }) }}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}

        </div>
      {% endfor %}
    </div>
  {% endfor %}

{{ form.renderClosingTag }}

<script>
  var form = document.querySelector('[data-id="{{ form.anchor }}"]');
  if (form) {
    form.addEventListener("freeform-stripe-styling", (event) => {
      event.detail.base = {
        fontSize: "16px",
        fontFamily: "-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif,\"Apple Color Emoji\",\"Segoe UI Emoji\",\"Segoe UI Symbol\",\"Noto Color Emoji\"",
      }
    })
  }
</script>
