{#
a-divider
------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-divider',
  customClasses: '',
  bgColor: 'bg-gray-200',
  marginTop: 'mt-16',
  marginBottom: 'mb-16',
  height: 'h-px',
  gap: 'gap-x-4 md:gap-x-8',
  gridCols: 'grid-cols-12',
  colSpan: 'col-span-full'
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

<div class="{{ props.marginTop }} {{ props.marginBottom }}
            grid {{ props.gridCols }} {{ props.gap }}
            {{ props.customClasses }}" {{ macroComponentSettings.componentSettings(props.settings) }}>
  <hr class="border-0 {{ props.height }} {{ props.bgColor }} {{ props.colSpan }}">
</div>
