{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: "c-divider",
    variantSize: "sm",
    label: null
  },
  classes: {
    root: "flex items-center relative",
    hr: "border-0 bg-gray-200 h-px w-full absolute top-1/2",
    label: "text-xs bg-white relative z-10 pr-4 text-gray-700",
    custom: ""
  },
  variants: {
    size: {
      sm: "mt-2 mb-2",
      md: "mt-4 mb-4",
      lg: "mt-8 mb-8",
      xl: "mt-16 mb-16",
      "2xl": "mt-32 mb-32"
    }
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data|merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes|merge(classes) : compDefaults.classes,
  variants: compDefaults.variants
} %}

<div class="{{ props.data.name }} {{ props.classes.root }} {{ props.variants.size[props.data.variantSize] }} {{
  props.classes.custom
  }}">
  <hr class="{{ props.classes.hr }}" />
  {% if props.data.label %}
    <span class="{{ props.classes.label }}">{{ props.data.label }}</span>
  {% endif %}
</div>
