{# >>> Comp Settings #}
{% set compDefaults = {
  settings: {
    name: 'c-logo',
  },
  data: {
    url: siteUrl,
    svgName: 'logo'
  },
  classes: {
    root: '',
    custom: ''
  }
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}


{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.data.svgName %}
  <div class="{{ props.classes.root }} {{ props.classes.custom }}" {{ macroComponentSettings.componentSettings(props.settings) }}>
    {% if props.data.url ??? null %}
    <a href="{{ props.data.url }}">
      {% endif %}
      {{ svg('@webroot/dist/img/svg/' ~ props.data.svgName ~ '.svg')
      | attr({ class: 'w-16 h-16' }) }}

      {% if props.data.url %}
    </a>
    {% endif %}
  </div>
{% endif %}


