{# Base web layout template that all web requests inherit from #}
{% extends "_layouts/global-variables.twig" %}

{%- block htmlPage -%}
  {% minify %}
  <!DOCTYPE html>
    {% block htmlTag %}
      <html class="no-js" lang="{{ craft.app.language | slice(0,2) }}">
    {% endblock htmlTag %}
    <head>
      {# check if js is enabled #}
      <script>
          var myHTML  = document.getElementsByTagName('html')[0];
          myHTML.classList.add('js');
          myHTML.classList.remove('no-js');
      </script>

      {% include "_boilerplate/_partials/head-meta.twig" %}
      {% include "_boilerplate/_partials/rss-feeds.twig" %}
      {# Page content that should be included in the <head> #}
      {% block headContent %}
      {% endblock headContent %}
    </head>

    {# Add some body classes #}
    {% set sectionHandle = entry.section.handle ??? null %}
    {% set pageClassSection = sectionHandle ? 'p-' ~ sectionHandle : '' %}
    {% set pageClassEntryType = sectionHandle ? 'p-' ~ sectionHandle ??? null ~ '--' ~ entry.type.handle : '' %}
    <body class="{{ pageClassSection }} {{ pageClassEntryType }} {{ bodyClass ??? null }} {{ craft.app.config.general.devMode ? 't-devMode' : '' }}">
    {# Page content that should be included in the <body> #}
    {% block bodyContent %}
    {% endblock bodyContent %}

    {% if craft.app.config.general.custom.craftEnv != 'live' %}
      {# -- gridOverlay -- #}
      {% include '_components/gridOverlay/gridOverlay.twig' only %}
    {% endif %}
    </body>
    </html>
  {% endminify %}
{%- endblock htmlPage -%}
