{# Base HTML layout template that all HTML requests inherit from #}
{% extends craft.app.request.isAjax() and not craft.app.request.getIsPreview()
  ? "_boilerplate/_layouts/base-ajax-layout.twig"
  : "_boilerplate/_layouts/base-web-layout.twig" %}

{% block htmlTag %}
<html class="fonts-loaded no-js" lang="{{ craft.app.language |slice(0,2) }}"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% endblock htmlTag %}

{# Page content that should be included in the <head> #}
{% block headContent %}
  {# Any <meta> tags that should be included in the <head> #}
  {% block headMeta %}
  {% endblock headMeta %}

  {# Any <link> tags that should be included in the <head> #}
  {% block headLinks %}
  {% endblock headLinks %}

  {# Inline and polyfill JS #}
  {% include "_boilerplate/_partials/head-js.twig" %}

  {# Any JavaScript that should be included before </head> #}
  {% block headJs %}
  {% endblock headJs %}

  {# Webfonts #}
  {% include "_partials/font-face-observer.twig" %}

  {# Lovely GDPR #}
  {% include "_partials/gdpr.twig" %}

  {# Inline and critical CSS #}
  <style>
    [v-cloak] > * {
      display: none !important;
    }

    [v-cloak]::before {
      content: "loading…"
    }

    {# Any CSS that should be included before </head> #}
    {% block headCss %}
    {% endblock headCss %}
  </style>

  {# Critical CSS #}
  {% if craft.app.config.general.custom.craftEnv != 'local' %}
    {% set criticalCss = getCookie('critical-css') %}
    {% if criticalCss == 'loaded' %}
      {{ craft.twigpack.includeCssModule("styles.css", false) }}
    {% else %}
      {% do setCookie('critical-css', 'loaded', now | date_modify("+7 days").timestamp ) %}
      {% block inlineCriticalCss %}
        {{ craft.twigpack.includeCriticalCssTags() }}
      {% endblock %}
      {{ craft.twigpack.includeCssModule("styles.css", true) }}
    {% endif %}
  {% endif %}

{% endblock headContent %}

{# Page content that should be included in the <body> #}
{% block bodyContent %}
  {# Page content that should be included in the <body> #}
  {% block bodyHtml %}
  {% endblock bodyHtml %}

  {#-- Site-wide JavaScript --#}
  {{ craft.twigpack.includeSafariNomoduleFix() }}
  {{ craft.twigpack.includeJsModule("app.js", true) }}

  {# Twigpack/Webpack #}
  {% if craft.app.config.general.custom.craftEnv == 'local' %}
    {{ craft.twigpack.includeJsModule("css.js", true) }}
  {% endif %}

  {# Any JavaScript that should be included before </body> #}
  {% block bodyJs %}
  {% endblock bodyJs %}
{% endblock bodyContent %}
