{% extends "_boilerplate/_layouts/layout-global-variables.twig" %}

{# >>> Render block app #}
{% block blockApp %}
  <!DOCTYPE html>
  <html class="no-js {{
    "template-"
      ~ (templatePath
        |default("")
        |replace({
          "/": "-"
        }))
    }}"
    lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
      {# >>> Render block head meta #}
      {{ include("_boilerplate/_partials/head-meta.twig", {}, withContext = true) }}
      {% block blockHeadMeta %}

      {% endblock %}

      {% block blockHeadFavicons %}

      {% endblock %}

      {# >>> Render block head js #}
      {{ include("_boilerplate/_partials/head-js.twig", {}, withContext = true) }}
      {% block blockHeadJs %}

      {% endblock %}

      {# >>> Render block head fonts #}
      {% block blockHeadFonts %}

      {% endblock %}

      {# >>> Render block head css #}
      {% block blockHeadCss %}

      {% endblock %}
      <style>
        [v-cloak], [x-cloak] { display: none !important; }
      </style>
      {{
        include(
          "_boilerplate/_partials/head-critical-css.twig",
          {
            criticalPath: templatePath|default("")
          },
          withContext = true
        )
      }}

      {# >>> Include RSS feeds #}
      {{ include("_boilerplate/_partials/head-rss-feeds.twig", {}, withContext = true) }}

      {# >>> Render block app head #}
      {% block blockAppHead %}

      {% endblock %}
    </head>

    <body data-theme="{{ theme|default('') }}" class="{{ craft.app.config.custom.craftEnv != "production" ? "debug-screens" : "" }}">
      {# >>> Render block app body #}
      {% block blockAppBody %}

      {% endblock %}

      {# >>> Render block app footer #}
      {{ include("_boilerplate/_partials/footer-global.twig", {}, withContext = true) }}
      {% block blockAppFooter %}

      {% endblock %}
    </body>
  </html>
{% endblock %}
