{# Set Defaults #}
{% set defaults = {
  name: 'a-youtube-basic',
  videoId: null,
  autoplay: 0,
  loop: 0,
  showinfo: 0,
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{% if props.videoId %}
  <div class="aspect-w-16 aspect-h-9" {{ macroComponentSettings.componentSettings(props.settings) }}>
    <iframe class="lazyload"
            data-src="https://www.youtube-nocookie.com/embed/{{ props.videoId }}?rel=0&loop={{ props.loop }}&showinfo={{ props.showinfo }}&autoplay={{ props.autoplay }}"
            frameborder="0">
    </iframe>
  </div>
{% endif %}

