{# Set Defaults #}
{% set defaults = {
  cn: 'a-youtube-basic',

  data: {},
  videoId: null,
  autoplay: 0,
  loop: 0,
  showinfo: 0,
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{% if props.videoId %}
  <div class="aspect-w-16 aspect-h-9" {{ module.settings(props) }}>
    <iframe class="lazyload"
            data-src="https://www.youtube-nocookie.com/embed/{{ props.videoId }}?rel=0&loop={{ props.loop }}&showinfo={{ props.showinfo }}&autoplay={{ props.autoplay }}"
            frameborder="0">
    </iframe>
  </div>
{% endif %}

