{% extends "_boilerplate/_layouts/layout-base.twig" %}

{# >>> Render favicons #}
{% block blockHeadFavicons %}
  {{ include('_layouts/_partials/favicons/favicons-default.twig', {}, withContext = true) }}
{% endblock blockHeadFavicons %}

{# >>> Render block head fonts #}
{% block blockHeadFonts %}
  {{ include('_layouts/_partials/fonts/fonts-default-preloading.twig', {}, withContext = true) }}
{% endblock blockHeadFonts %}


{% block blockHeadCss %}
  {{ include('hidden/patternlib/_partials/_styles.twig', {}, withContext = true) }}

{% endblock blockHeadCss %}

{# >>> Render block app body #}
{% block blockAppBody %}
  {% set config = craft.app.config.getConfigFromFile('patternlib') ??? null %}
  {% set path = config.path ??? null %}
  {% set segments = '/' ~ craft.app.request.segments | join('/') %}
  {% set segments = segments | replace({(path): ''}) | split('/') %}


  <div id="appWrapper" class="overflow-hidden">
    <main id="appContent">
      <div class="pl_root">
        <div class="pl_path">
          <a href="{{ siteUrl }}" class="pl_logo">
            {{ include('_components/logo/logo.twig', {
              data: {
                variant: props.data.logoSize ??? 'sm'
              },
            }, withContext = false) }}
          </a>
          <a href="{{ config.path ? config.path : '#' }}">
            {{ config.pageTitle ??? 'Pattern Library' }}
            {% if not patternLibRoot is defined %}
              {% for seg in segments %}
                {{ '/' }} {{ seg | capitalize }}
              {% endfor %}
            {% endif %}
          </a>
        </div>

        {# -- Primary content block -- #}
        {% if craft.app.request.fullPath | replace({'/': ''}) != config.path | replace({'/': ''}) %}
          {% block blockAppContent %}
          {% endblock %}
        {% endif %}

        {{ include('/hidden/patternlib/navigation.twig', {}, withContext = true) }}
      </div>
    </main>
  </div>
{% endblock blockAppBody %}
