{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-definitionList
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-definitionList',
  modifiers: [],
  customClasses: [],
  twClassSet: null,
  data: {},
  items: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Tailwind Magic #}
{% switch props.twClassSet %}
{% case "caseA" %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss:  #}

{% default %}
  {% set twClasses = {
    root: ''
  } %}
  {# purgecss: custuom classes here as string #}
{% endswitch %}

{# Modul #}
{% if props.items %}
  <dl {{ module.settings(props, twClasses.root) }} waypointTrigger>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for item in props.items %}
        <dt class="{{ props.cn ~ '__term' }}  is-fadeInUp" waypoint>
          {{ item.term | raw }}
        </dt>
        <dd class="{{ props.cn ~ '__description' }}  is-fadeInUp"  waypoint>
          <p>{{ item.description | nl2br }}</p>
        </dd>
      {% endfor %}
    </div>
  </dl>
{% endif %}
