{#
  c-definitionList
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-definitionList',
  modifiers: [],
  customClasses: [],
  data: {},
  items: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.items %}
  <dl {{ module.settings(props) }}>
    {% for item in props.items %}
      <dt class="{{ props.cn ~ '__term' }}">
        {{ item.term | raw }}
      </dt>
      <dd class="{{ props.cn ~ '__description' }}">
        <p>{{ item.description | nl2br }}</p>
      </dd>
    {% endfor %}
  </dl>
{% endif %}
