{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-definitionList
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-definitionList',
  modifiers: [],
  customClasses: [],
  data: {},
  items: null,
  variant: 'basic'
} %}

{# Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if opt.items %}
  <dl {{ module.settings(opt) }} waypointTrigger>
    <div class="{{ opt.cn ~ '__inner' }}">
      {% for item in opt.items %}
        <dt class="{{ opt.cn ~ '__term' }}  is-fadeInUp" waypoint>
          {{ item.term | raw }}
        </dt>
        <dd class="{{ opt.cn ~ '__description' }}  is-fadeInUp"  waypoint>
          <p>{{ item.description | nl2br }}</p>
        </dd>
      {% endfor %}
    </div>
  </dl>
{% endif %}
