{% extends "_layouts/patternlib-page-layout.twig" %}
{% set placeholderImage = craft.assets().kind('image').orderBy('RAND()').one() %}

{% block content %}
  {% cache using key craft.app.request.pathInfo %}
  <div class="{{ config.styles.compItem }}">
    <label class="{{ config.styles.compLabel }}">Image Landscape</label>

    <div class="{{ config.styles.compItemVariant }}">
      {# imageRaw #}
      {% include '_components/image/image.twig' with {
        props: {
          customClasses: 'w-full',
          image: placeholderImage ??? null,
        }
      } only %}
    </div>
  </div>

  <div class="{{ config.styles.compItem }}">
    <label class="{{ config.styles.compLabel }}">Image Square</label>
    <div class="{{ config.styles.compItemVariant }}">
      {# imageRaw #}
      {% include '_components/image/image.twig' with {
        props: {
          customClasses: 'w-full',
          image: placeholderImage ??? null,
          transform: 'square',
        }
      } only %}
    </div>
  </div>

  <div class="{{ config.styles.compItem }}">
    <label class="{{ config.styles.compLabel }}">Image Portrait</label>
    <div class="{{ config.styles.compItemVariant }}">
      {# imageRaw #}
      {% include '_components/image/image.twig' with {
        props: {
          customClasses: 'w-full',
          image: placeholderImage ??? null,
          transform: 'portrait',
        }
      } only %}
    </div>

    <div class="{{ config.styles.compItem }}">
      <label class="{{ config.styles.compLabel }}">Image Auto</label>
      {# imageRaw #}
      {% include '_components/image/image.twig' with {
        props: {
          customClasses: 'w-full',
          image: placeholderImage ??? null,
          transform: 'auto',
        }
      } only %}
    </div>
  </div>
  {% endcache %}
{% endblock %}



