{% extends "_layouts/patternlib-page-layout.twig" %}
{% set pageTitleSuffix = _self | split('/') | last | capitalize %}

{% block content %}
  {% cache using key craft.app.request.pathInfo %}
  <div class="{{ config.styles.compItem }}">
    <label class="{{ config.styles.compLabel }}">Page Intro Image Video</label>
    <div class="{{ config.styles.compItemVariant }}">
      {# -- pageIntros -- #}
      {% include '_components/pageIntros/imageVideo.twig' with {
        props: {
          externalVideoUrl: 'https://neubau-eyewear.com/uploads/videos/neubau-Websiteheader-LotteHans-2.mp4' ??? null,
          image: craft.assets().kind('image').orderBy('RAND()').one() ??? null ??? null,
          headline: 'Willkommen
bei Franz
Aircraft.' ??? null,
          subline: 'We\'ve got the technology.' ??? null,
          boxText: 'Welcome to BRP-Rotax — the largest producer of gasonline aircraft in the world.' ??? null,
          boxImage: craft.assets().kind('image').orderBy('RAND()').one() ??? null ??? null,
          boxLinkText: 'Engines' ??? null,
          boxLinkUrl: '#' ??? null,
          boxLinkTarget: '_blank' ??? null,
        }
      } only %}
    </div>
  </div>

  <div class="{{ config.styles.compItem }}">
    <label class="{{ config.styles.compLabel }}">Page Intro Image Video Distributor</label>
    <div class="{{ config.styles.compItemVariant }}">
      {# -- pageIntros -- #}
      {% include '_components/pageIntros/imageVideo.twig' with {
        props: {
          externalVideoUrl: 'https://neubau-eyewear.com/uploads/videos/neubau-Websiteheader-LotteHans-2.mp4' ??? null,
          image: craft.assets().kind('image').orderBy('RAND()').one() ??? null ??? null,
          headline: 'Willkommen
bei Franz
Aircraft.' ??? null,
          subline: 'We\'ve got the technology.' ??? null,
          distributorBoxTitle: 'Franz Aircraft Engines Vertriebs GmbH' ??? null,
          distributorBoxImage: craft.assets().kind('image').orderBy('RAND()').one() ??? null ??? null,
          distributorBoxEmail: 'test@mail.com' ??? null,
          distributorBoxPhone: '+49 234234 23423' ??? null,
          distributorBoxStreetNumber: 'Am Weidengrund 1a' ??? null,
          distributorBoxZipCode: '83135' ??? null,
          distributorBoxCity: 'Schechen' ??? null,
          distributorBoxCountry: 'Germany' ??? null,
        }
      } only %}
    </div>
  </div>
  {% endcache %}
{% endblock %}


