{#
  Pagination Simple
  =================
#}

{% macro paginationSimple(pages,craft,props) %}
  {% set defaults = {
    cn: 'm-paginationSimple',
    searchquery: false,
    prevText: 'Prev Page',
    nextText: 'Next Page',
    prevIcon: 'icon-arrow-left',
    nextIcon: 'icon-arrow-right'
  } %}

  {# Merge Default with Options #}
  {% set props = props is defined ? defaults|merge(props) : defaults %}

  {# Add Pagination only if the Page Number is higher than 1#}
  {% if pages.totalPages > 1 %}
    <nav class="{{ props.cn }}" role="navigation">
      {# Display the Previous Link if available #}
      {% if pages.prevUrl %}
        <div class="{{ props.cn ~ '__item' }}  {{ props.cn ~ '__item--prev' }}">
          <a class="{{ props.cn ~ '__link' }}  {{ props.cn ~ '__link--prev' }}"
             data-link="{{ pages.prevUrl | base64enc }}" {{ props.searchquery ? 'data-search=?q=' ~ props.searchquery }}
             title="{{ props.prevText }}">

            {% if props.prevIcon %}
              <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--prev' }}">
                {% include '_partials/svg/' ~ props.prevIcon ~ '.svg.twig' %}
              </span>
            {% endif %}

            <span class="{{ props.cn ~ '__title' }}">
                {{ props.prevText }}
              </span>
          </a>
        </div>
      {% endif %}

      {# Display next Page Link if available#}
      {% if pages.nextUrl %}
        <div class="{{ props.cn ~ '__item' }}  {{ props.cn ~ '__item--next' }}">
          <a class="{{ props.cn ~ '__link' }}  {{ props.cn ~ '__link--next' }}"
             data-link="{{ pages.nextUrl | base64enc }}" {{ props.searchquery ? 'data-search=?q=' ~ props.searchquery }}
             title="{{ props.nextText }}">

            {% if props.nextIcon %}
              <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--next' }}">
                {% include '_partials/svg/' ~ props.nextIcon ~ '.svg.twig' %}
              </span>
            {% endif %}

            <span class="{{ props.cn ~ '__title' }}">
              {{ props.nextText }}
            </span>
          </a>
        </div>
      {% endif %}
    </nav>

    {% js %}
      var paginationElement = document.querySelector('.m-paginationSimple');
      var links = paginationElement.querySelectorAll('a');

      for (var i = 0; i < links.length; i++) {
      var link = links[i];

      link.addEventListener('click', function(evt) {
      var link = evt.currentTarget;
      var base64url = link.dataset.link;
      var url = atob(base64url);
      var search = link.dataset.search;
      if (search) {
      window.location = url + search;
      } else {
      window.location = url;
      }
      });
      }
    {% endjs %}
  {% endif %}

  {# link rel="next/prev" #}
  {% if seomatic %}
    {% do seomatic.helper.paginate(pages) %}

    {# set canonical to first page #}
    {% do seomatic.meta.canonicalUrl(pages.getBasePath) %}

    {# meta robots noindex, follow on paginated pages #}
    {% if pages.currentPage > 1 %}
      {% do seomatic.tag.get("robots").content("noindex, follow") %}
    {% endif %}
  {% endif %}
{% endmacro %}
