{#
  Pagination
  ==========
  Powered by Kittn Generator: http://kittn.de/
  Generate navigation buttons for paginations
  It use the Pagination Module, include before the Loop `{% paginate entries as pageInfo, pageEntries %}`

  @param {object}  pages                 - Pagination Object
  @param {object}  craft                 - Craft Request Object
  @param {object}  options               - Array of options
  @param {string}  props.cnname         - Classname (default: 'o-pagination')
  @param {string}  props.searchquery   - To pass search words from Searchfields (default: false)
  @param {string}  props.prevText      - Titletext for Prev
  @param {string}  props.nextText      - Titletext for Next
#}
{% macro paginationSimple(pages,craft,props) %}
  {% set defaults = {
    cn: 'm-paginationSimple',
    searchquery: false,
    prevText: 'Prev Page',
    nextText: 'Next Page',
    prevIcon: 'icon-arrow-left',
    nextIcon: 'icon-arrow-right'
  } %}

  {# Merge Default with Options #}
  {% set props = props is defined ? defaults|merge(props) : defaults %}

  {# Add Pagination only if the Page Number is higher than 1#}
  {% if pages.totalPages > 1 %}
    <nav class="o-row  {{ props.cn }}" role="navigation">
        {# Display the Previous Link if available #}
        {% if pages.prevUrl %}
          <div class="o-col-6  o-col-s-12  {{ props.cn ~ '__item' }}  {{ props.cn ~ '__item--prev' }}">
            <a class="{{ props.cn ~ '__link' }}  {{ props.cn ~ '__link--prev' }}"
               href="{{ pages.prevUrl }}{{ props.searchquery ? '?q='~props.searchquery }}"
               title="{{ props.prevText }}">

              {% if props.prevIcon %}
                <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--prev' }}">
                {% include '_partials/svg/' ~ props.prevIcon ~ '.svg.twig' %}
              </span>
              {% endif %}

              <span class="{{ props.cn ~ '__title' }}">
                {{ props.prevText }}
              </span>
            </a>
          </div>
        {% endif %}

        {# Display next Page Link if available#}
        {% if pages.nextUrl %}
        <div class="o-col-6  o-col-s-12  {{ props.cn ~ '__item' }}  {{ props.cn ~ '__item--next' }}">
          <a class="{{ props.cn ~ '__link' }}  {{ props.cn ~ '__link--next' }}"
             href="{{ pages.nextUrl }}{{ props.searchquery ? '?q='~props.searchquery }}"
             title="{{ props.nextText }}">

            {% if props.nextIcon %}
              <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--next' }}">
                {% include '_partials/svg/' ~ props.nextIcon ~ '.svg.twig' %}
              </span>
            {% endif %}

            <span class="{{ props.cn ~ '__title' }}">
              {{ props.nextText }}
            </span>
          </a>
        </div>
        {% endif %}
    </nav>
  {% endif %}
{% endmacro %}
