{#
  Social Networks
  ------------------------------------------------------------

  {{ macroSocialNetworks.socialNetworks({
    networks: ['facebook', 'instagram', 'spotify', 'twitter'],
    label: null
  }) }}
#}

{% macro socialNetworks(props) %}
  {% set defaults = {
    cn: 'm-socialNetworks',
    networks: [],
    label: null
  } %}

  {# Merge Default with Options #}
  {% set props = props is defined ? defaults|merge(props) : defaults %}

  {% if props.networks %}
    <div class="{{ props.cn }}">
      {% set socialNetworks = socialNetworks.globalSocialNetworks %}
      {% set networks = props.networks %}

      {% for socialNetwork in socialNetworks %}
        {% if socialNetwork.network|lower in networks or props.networks == 'all' %}
          <a class="{{ props.cn ~ '__link' }}"
             href="{{ socialNetwork.profilUrl }}" target="_blank">
              <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--next' }}">
                {% include '_globals/_partials/svg/social/' ~ socialNetwork.network|lower ~ '.svg.twig' %}
              </span>

            {% if props.label %}
              <div class="{{ props.cn ~ '__label' }}">{{ socialNetwork.network|lower }}</div>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
