{#
  Pagination Simple
  =================
#}

{% macro paginationSimple(pages,craft,props) %}
  {% set defaults = {
    cn: 'c-paginationSimple',
    searchquery: false,
    prevText: 'Prev Page',
    nextText: 'Next Page',
    prevIcon: 'arrow-back',
    nextIcon: 'arrow-forward',
    removeCanonical: true,
    setNoindex: true
  } %}

  {# Merge Default with Options #}
  {% set props = props is defined ? defaults|merge(props) : defaults %}

  {# Add Pagination only if the Page Number is higher than 1#}
  {% if pages.totalPages > 1 %}
    <nav class="{{ props.cn }}" role="navigation">
      {# Display the Previous Link if available #}
      {% if pages.prevUrl %}
        <div class="{{ props.cn ~ '__item' }}  {{ props.cn ~ '__item--prev' }}">
          <a class="{{ props.cn ~ '__link' }}  {{ props.cn ~ '__link--prev' }}"
             data-link="{{ pages.prevUrl | base64enc }}" {{ props.searchquery ? 'data-search=?q=' ~ props.searchquery }}
             title="{{ props.prevText }}">

            {% if props.prevIcon %}
              <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--prev' }}">
                {# Icon #}
                {% include '_components/icon/icon.twig' with {
                  props: {
                    modifiers: ['24'],
                    icon: props.prevIcon,
                  }
                } only %}
              </span>
            {% endif %}

            <span class="{{ props.cn ~ '__title' }}">
                {{ props.prevText }}
              </span>
          </a>
        </div>
      {% endif %}

      {# Display next Page Link if available#}
      {% if pages.nextUrl %}
        <div class="{{ props.cn ~ '__item' }}  {{ props.cn ~ '__item--next' }}">
          <a class="{{ props.cn ~ '__link' }}  {{ props.cn ~ '__link--next' }}"
             data-link="{{ pages.nextUrl | base64enc }}" {{ props.searchquery ? 'data-search=?q=' ~ props.searchquery }}
             title="{{ props.nextText }}">

            {% if props.nextIcon %}
              <span class="{{ props.cn ~ '__icon' }}  {{ props.cn ~ '__icon--next' }}">
                {# Icon #}
                {% include '_components/icon/icon.twig' with {
                  props: {
                    modifiers: ['24'],
                    icon: props.nextIcon,
                  }
                } only %}
              </span>
            {% endif %}

            <span class="{{ props.cn ~ '__title' }}">
              {{ props.nextText }}
            </span>
          </a>
        </div>
      {% endif %}
    </nav>

    <script>
      var paginationSimple = document.querySelectorAll('.c-paginationSimple');

      for (var i = 0, len = paginationSimple.length; i < len; i++) {
        var links = paginationSimple[i].querySelectorAll('a');

        for (var j = 0; j < links.length; j++) {
          var link = links[j];

          link.addEventListener('click', function (evt) {
            var link = evt.currentTarget;
            var base64url = link.dataset.link;
            var url = atob(base64url);
            var search = link.dataset.search;

            if (search) {
              window.location = url + search;
            } else {
              window.location = url;
            }
          });
        }
      }
    </script>
  {% endif %}

  {# link rel="next/prev" #}
  {% if seomatic %}
  {% do seomatic.helper.paginate(pages) %}

  {# set canonical to first page #}
  {% do seomatic.meta.canonicalUrl(pages.getBasePath) %}

  {# meta robots noindex, follow on paginated pages #}
  {% if pages.currentPage > 1 %}
    {% if opt.setNoindex %}
      {% do seomatic.tag.get('robots').content('noindex, follow') %}
    {% endif %}

    {% if opt.removeCanonical %}
      {% do seomatic.link.get('canonical').include(false) %}
    {% endif %}
  {% endif %}

{% endmacro %}
