{#
  Language Switcher
  ------------------------------------------------------------

  {% import '_macros/_macro-languageSwitcher.twig' as macroLanguageSwitcher  %}

  {{ macroLanguageSwitcher.languageSwitcher({
    sites: ['noobs', 'pros']
  }, entry) }}
#}

{% macro languageSwitcher(props, entry) %}
  {% set defaults = {
    cn: 'm-languageSwitcher',
    sites: null | default('all')
  } %}

  {# Merge Default with Options #}
  {% set props = props is defined ? defaults|merge(props) : defaults %}
  {% if props.sites is defined and entry is defined %}
    {# Get all Handles #}
    {% set allSiteHandles = [] %}
    {% for site in craft.app.sites.getAllSites() %}
      {% set allSiteHandles = allSiteHandles|merge([site.handle]) %}
    {% endfor %}

    {% set sites = props.sites %}
    {% if sites == 'all' %}
      {% set sites = allSiteHandles %}
    {% endif %}

    <nav class="{{ props.cn }}">
      <ul class="{{ props.cn ~ '__list' }}">
        {% for site in sites %}
          {% if site in allSiteHandles %}

            <li class="{{ props.cn ~ '__item' }}">
              {% set current = false %}

              {# Check if site equals the requested page site #}
              {% if site == craft.app.sites.currentSite.handle %}
                {% set current = true %}
              {% endif %}

              {% if entry ??? null %}
                {% set siteEntry = craft.entries.id(entry.id).site(site).one() %}

                {% if siteEntry and (siteEntry.site.handle is defined and siteEntry.site.handle == site) %}
                  <a href="{{ siteEntry.getUrl() }}"
                     class="{{ props.cn ~ '__link' }}{{ current ? ' ' ~ props.cn ~ '__link--current' }}">
                    {{ site }}
                  </a>
                {% else %}
                  <a href="{{ siteUrl }}"
                     class="{{ props.cn ~ '__link' }}{{ current ? ' ' ~ props.cn ~ '__link--current' }}">
                    {{ site }}
                  </a>
                {% endif %}
              {% else %}
                <a href="{{ siteUrl ~ craft.app.request.pathInfo }}"
                   class="{{ props.cn ~ '__link' }}{{ current ? ' ' ~ props.cn ~ '__link--current' }}">
                  {{ site }}
                </a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
