<div {{ module.settings(opt) }} data-status="{{ opt.open ? 'open' : 'closed' }}">
    <div class="{{ opt.cn ~ '__wrapper' }}">
        {% spaceless %}
            <pre class="line-numbers  language-{{ opt.language }}  {{ opt.cn ~ '__codeWrapper' }}">
          <code class="{{ opt.cn ~ '__code' }}">{{- opt.snippet | e -}}</code>
        </pre>
        {% endspaceless %}
    </div>
</div>
<span class="{{ opt.cn ~ '__toggle' }}"
      data-status="{{ opt.open ? 'open' : 'closed' }}"
      data-show="{{ opt.textShow }}"
      data-hide="{{ opt.textHide }}">
    <span class="{{ opt.cn ~ '__toggleTextHolder' }} js-textHolder">{{ opt.open ? opt.textHide : opt.textShow }}</span>
  </span>
