{% extends "_layouts/generic-page-layout.twig" %}
{% set appClass = 'p-home' %}

{% block headLinks %}
  {{ parent() }}
{% endblock headLinks %}

{% block content %}
  {# Redirect to home if on a live env #}
  {% if craft.app.config.general.custom.craftEnv == 'live' %}
    {% redirect siteUrl %}
  {% endif %}


  {# Macros #}
  {% import '_macros/_macro-imageHelper.twig' as imageHelper %}
  {% set cat01Image = craft.assets.title('Cat 01').volume('templateImages').one() %}
  {% set cat02Image = craft.assets.title('Cat 02').volume('templateImages').one() %}

  <picture style="background-color: {{- imageHelper.getDominantColor(cat01Image, true) -}}; ">
    {{- imageHelper.renderSource(cat01Image, 'portrait', true, '(orientation: portrait)') -}}
    {{- imageHelper.renderSource(cat02Image, 'landscape', true,  '(orientation: landscape)') -}}
    {{- imageHelper.renderImage(cat01Image, null, null, null, null, true) -}}
    {{- imageHelper.renderNoScript(cat01Image) -}}
  </picture>
{% endblock %}

{% block subcontent %}

{% endblock %}

{# Any JavaScript that should be included before </body> #}
{% block bodyJs %}
  {{ parent() }}
{% endblock bodyJs %}

