{# >>> Include macros #}
{% import '_macros/_macro-imageHelper.twig' as imageHelper %}

{% set bgColor %}
  style="background-color: {{- imageData.dominantColor -}}; "
{% endset %}

<figure class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }} {{ not props.data.caption ? 'overflow-hidden' : '' }}"
  {% if props.data.showDominantColor and not props.data.caption %}{{ bgColor }}{% endif %}>

  {# If there is no caption #}
  {% if not props.data.caption %}
    {{- imageHelper.renderImage(imageData, props.data.lazy, props.data.objectFit) -}}

  {# If there is a caption #}
  {% else %}
    <div class="overflow-hidden" {% if props.data.showDominantColor %}{{ bgColor }}{% endif %}>
      {{- imageHelper.renderImage(imageData, props.data.lazy, props.data.objectFit) -}}
    </div>

    {# caption #}
    {{ include('_components/caption/caption.twig', {
      data: {
        headline: imageData.caption.headline ??? null,
        text: imageData.caption.text ??? null,
        source: imageData.caption.source ??? null,
        sourceUrl: imageData.caption.sourceUrl ??? null
      },
      classes: {
        custom: 'mt-2'
      }
    }, withContext = false) }}
  {% endif %}

  {{ include('_components/image/_partials/_nocript.twig', {}, withContext = true) }}
</figure>
