{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [david@hellmann.io]

  m-card
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-card',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  item: null,
  image: null,
  content: null,
  link: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{% if props.item %}
  <article {{ module.settings(props, twClasses.root) }}>
    <div class="{{ props.cn ~ '__wrapper' }}">
      <div class="{{ props.cn ~ '__inner' }}">
        <a class="{{ props.cn ~ '__link' }}" href="{{ props.item.url }}">
          {% if props.image %}
            {% include '_atoms/image/variant-_template.twig' with {
              props: {
                image: props.item.entryImage ?? null,
                ratio: 'landscape'
              }
            } only %}
          {% endif %}

          {% if props.content %}
            {% include '_atoms/headline/_template.twig' with {
              props: {
                modifiers: [
                  'h6'
                ],
                text: props.item.title,
                size: 'h2'
              }
            } only %}

            {# Entry Intro #}
            {% if props.item.entrySummary ?? null %}

              {% include '_atoms/richText/_template.twig' with {
                props: {
                  text: '<p>' ~ props.item.entrySummary | striptags | truncateOnWord(140) ~ '</p>'
                }
              } only %}

            {% endif %}
          {% endif %}

          {% if props.link %}
            <span class="{{ props.cn ~ '__readmore' }}">Read more</span>
          {% endif %}
        </a>
      </div>
    </div>
  </article>
{% endif %}
