{#
  c-card
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'c-card',
  modifiers: [],
  customClasses: [],
  data: {},
  image: null,
  transform: null,
  headline: null,
  copy: null,
  linkUrl: null,
  linkText: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.image and props.headline and props.linkUrl %}
  <article {{ module.settings(props) }}>
    <a class="{{ props.cn ~ '__link' }}" href="{{ props.linkUrl }}">
      <div class="{{ props.cn ~ '__header' }}">
        {% include '_components/image/picture.twig' with {
          props: {
            image: props.image ??? null,
            transform: props.transform ??? null
          }
        } only %}
      </div>
      <div class="{{ props.cn ~ '__body' }}">
        <h2>{{ props.headline }}</h2>
        {% if props.copy %}
          <p>
            {{ props.copy | nl2br }}
          </p>
        {% endif %}
      </div>
    </a>
  </article>
{% endif %}
