{#
  c-card
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-card',
  image: null,
  transform: null,
  headline: null,
  copy: null,
  linkUrl: null,
  linkText: null
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{# Modul #}
{% if props.image and props.headline and props.linkUrl %}
  <article {{ macroComponentSettings.componentSettings(props.settings) }}>
    <a class="{{ props.cn ~ '__link' }}" href="{{ props.linkUrl }}">
      <div class="{{ props.cn ~ '__header' }}">
        {% include '_components/image/picture.twig' with {
          props: {
            image: props.image ??? null,
            transform: props.transform ??? null
          }
        } only %}
      </div>
      <div class="{{ props.cn ~ '__body' }}">
        <h2>{{ props.headline }}</h2>
        {% if props.copy %}
          <p>
            {{ props.copy | nl2br }}
          </p>
        {% endif %}
      </div>
    </a>
  </article>
{% endif %}
