{#
  c-navMain
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'm-navMain',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  items: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}
{% import '_partials/macros/_macro-isActive.twig' as macroIsActive %}





{# Modul #}
{% if props.items %}
  <div {{ module.settings(props) }}>
    <div class="{{ props.cn ~ '__wrapper' }}">
      <div class="{{ props.cn ~ '__inner' }}">
        <ul class="{{ props.cn ~ '__list' }}  {{ props.cn ~ '__list--level-1' }}">
          {% nav item in props.items %}
            {% set level = item.level %}
            {% set level = level + 0 %}

            <li class="{{ props.cn ~ '__listItem' }}  {{ props.cn ~ '__listItem--level-' ~ level }}">
              {# Get Position #}
              {% set segmentPosition = item.level %}

              {% if item.navigationSegmentPosition %}
                {% set segmentPosition = item.navigationSegmentPosition + 0 %}
              {% endif %}

              {# Get Position #}
              {% set segments = 'notSet' %}

              {% if item.navigationLink.element %}
                {% set segments = item.navigationLink.element.slug %}
              {% endif %}

              {% if item.navigationHighlightTriggers %}
                {% set segments = item.navigationHighlightTriggers %}
              {% endif %}

              {% set segments = segments | replace({'home': ''}) | trim  | split(',') %}

              {# Set Text #}
              {% set text = item.navigationLink.text ?
                item.navigationLink.text :
                item.title %}

              <a href="{{ item.navigationLink.url }}"
                 class="{{ props.cn ~ '__listItemLink' }}  {{ props.cn ~ '__listItemLink--level-' ~ level }}  {{ macroIsActive.isActive(segments, segmentPosition) }}" {{ item.navigationLink.target ? 'target=blank' : '' }}>
                {{ text | raw }}
              </a>

              {% ifchildren %}
                {% set level = item.level %}
                {% set level = level + 1 %}

                <ul class="{{ props.cn ~ '__list' }}  {{ props.cn ~ '__list--level-' ~ level }}">
                  {% children %}
                </ul>

              {% endifchildren %}
            </li>
          {% endnav %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}

