{#
  a-textarea
  Codepen: https://codepen.io/davidhellmann/pen/OOLmYq
  ------------------------------------------------------------
#}

{#  Set Defaults #}
{% set defaults = {
  cn: 'a-textarea',
  modifiers: [],
  customClasses: [],
  data: {},
  name: null,
  rows: 2,
  maxlength: null,
  readonly: null,
  pattern: null,
  required: null,
  disabled: null,
  autofocus: null,
  info: null,
  label: null,
  id: null,
  placeholder: null,
  value: null
} %}

{#  Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{#  Macros #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{#  Modul #}
{% if opt.name and opt.label %}
  <div {{ module.settings(opt) }}>
    <textarea rows="{{ opt.rows }}" class="{{ opt.cn ~ '__textarea' }}"
           {% if opt.id %}id="{{ opt.id }}"{% endif %}
      {% if opt.name %}name="{{ opt.name }}"{% endif %}
      {% if opt.maxlength %}maxlength="{{ opt.maxlength }}"{% endif %}
      {% for key, value in opt.data %}
        data-{{ key }}="{{ value }}"
      {% endfor %}
      {% if opt.required %} required data-required="true"{% endif %}
      {{ opt.readonly ? ' readonly' }}
      {{ opt.autofocus ? ' autofocus' }}
      {{ opt.disabled ? ' disabled' }}  placeholder="{{ opt.placeholder }}">{% if opt.value %}{{ opt.value }}{% endif %}</textarea>
    <label class="{{ opt.cn ~ '__label' }}" for="{{ opt.id }}">{{ opt.label }}</label>
    <span class="{{ opt.cn ~ '__info' }}">{{ opt.info }}</span>
  </div>
{% endif %}
