{#
  Description of what this file is for

  @package Baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  o-imageGallery
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-imageGallery',
  theme: getenv('BAUKASTEN_THEME') | default(null),
  variant: 'default',
  modifiers: [],
  customClasses: [],
  data: {},
  js: true,
  images: null,
  ratio: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}
{% set props= props| merge({  customClasses: props.customClasses | merge(['js-imageGallery'])}) %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Baukasten:Minimal #}
{% if props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Custom Styling #}
{% if not props.theme == 'Baukasten:Minimal' %}
  {% switch props.variant %}
  {% case 'default' %}
    {% set twClasses = {
      root: ''
    } %}
  {% endswitch %}
{% endif %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props, twClasses.root) }} itemscope itemtype="http://schema.org/ImageGallery" waypointTrigger>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images %}
        {% set imageSrc = image.getUrl() %}
        {% set imageMaxWidth = image.getWidth() %}
        {% set imageMaxHeight = image.getHeight() %}

        <figure class="{{ props.cn ~ '__figure' }} is-fadeInUp" waypoint>
          <a class="{{ props.cn ~ '__link' }}"
             href="{{ imageSrc }}"
             itemprop="contentUrl"
             data-size="{{ imageMaxWidth }}x{{ imageMaxHeight }}">

            {% include '_atoms/image/variant-_template.twig' with {
              props: {
                image: image ?? null,
                sizes: [
                  { width: 400 },
                  { width: 200 },
                  { width: 100 }
                ],
                ratio: props.ratio ?? null
              }
            } only %}
          </a>
        </figure>
      {% endfor %}
    </div>
  </div>
{% endif %}
