{# Set Defaults #}
{% set defaults = {
  cn: 'c-imageGallery',
  modifiers: [],
  customClasses: [],
  data: {},
  js: true,
  images: null,
  ratio: null
} %}

{# Merge Default with Options #}
{% set props = props is defined ? defaults|merge(props) : defaults %}
{% set props= props| merge({  customClasses: props.customClasses | merge(['js-imageGallery'])}) %}

{# Macros #}
{% import '_macros/_macro-settings.twig' as module %}

{# Modul #}
{% if props.images %}
  <div {{ module.settings(props) }} waypoint>
    <div class="{{ props.cn ~ '__inner' }}">
      {% for image in props.images %}
        {% set imageSrc = image.getUrl() %}
        {% set imageMaxWidth = image.getWidth() %}
        {% set imageMaxHeight = image.getHeight() %}

        <figure class="{{ props.cn ~ '__figure' }} is-fadeInUp" waypoint-target>
          <a class="{{ props.cn ~ '__link' }}"
             href="{{ imageSrc }}"
             itemprop="contentUrl"
             data-size="{{ imageMaxWidth }}x{{ imageMaxHeight }}">

            {% include '_components/image/imageRaw.twig' with {
              props: {
                image: image ??? null,
                sizes: [
                  { width: 400 },
                  { width: 200 },
                  { width: 100 }
                ],
                ratio: props.ratio ??? null
              }
            } only %}
          </a>
        </figure>
      {% endfor %}
    </div>
  </div>
{% endif %}
