{#
  Accordion
  =========
#}

{# Set Defaults #}
{% set defaults = {
  cn: 'o-accordion',
  modifiers: [],
  customClasses: [],
  data: {},
  items: null
} %}

{# Merge Default with Options #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# Macros #}
{% import '_partials/macros/_macro-settings.twig' as module %}

{# Modul #}
{% if opt.items %}
  {# Include Variant #}
  {% include [
    '_atoms/image/' ~ opt.variant ~ '/_template.twig',
  ] %}
  <div {{ module.settings(opt) }} role="tablist">
    <div class="{{ opt.cn ~ '__wrapper' }}">
      <div class="{{ opt.cn ~ '__inner' }}">
        {% for item in opt.items %}
          <div class="{{ opt.cn ~ '__item' }}" role="tab">
            <div class="{{ opt.cn ~ '__trigger' }}  js-accordionTrigger">
              <div class="{{ opt.cn ~ '__headline' }}">
                {{ item.accordionTrigger ?? 'Trigger' }}
              </div>
            </div>

            <div class="{{ opt.cn ~ '__content' }}" role="tabpanel">
              {# richText #}
              {% include '_atoms/richText/_template.twig' with {
                opt: {
                  text: item.accordionContent ?? null
                }
              } only %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

