{#
  o-slider
  ------------------------------------------------------------
#}

{# Set Defaults #}
{% set defaults = {
  name: 'c-sliderImages',
  images: null,
  transform: 'landscape',
  buttons: true,
  pagination: true,
  progressbar: false,
} %}

{# >>> Merge settings / data / classes #}
{% set props = {
  settings: settings is defined and settings is iterable ? compDefaults.settings | merge(settings) : compDefaults.settings,
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Macros #}
{% import '_macros/_macro-componentSettings.twig' as macroComponentSettings %}

{# Modul #}
{% if props.images %}
  <div {{ macroComponentSettings.componentSettings(props.settings) }} swiper-pagination="{{ props.pagination ? 'true' : 'false' }}"
                                    swiper-progressbar="{{ props.progressbar ? 'true' : 'false' }}">
    <!-- Slides -->
    <div class="{{ props.cn ~ '__slider' }} js-sliderImages swiper-container">
      <div class="swiper-wrapper">
        {% for image in props.images %}
          <div class="swiper-slide  {{ props.cn ~ '__slide' }}">
            <div class="{{ props.cn ~ '__inner' }}">
              {% include '_components/image/image.twig' with {
                props: {
                  image: image ??? null,
                  transform: props.transform ??? null,
                }
              } only %}
            </div>
          </div>
        {% endfor %}
      </div>

      {% if props.buttons %}
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"><span></span></div>
        <div class="swiper-button-next"><span></span></div>
      {% endif %}

      {% if props.pagination %}
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      {% endif %}
    </div>
  </div>
{% endif %}
