{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-sliderImages',
    slides: null,
    aspectRatio: 'aspect-landscape',
    destroyBreakpoint: null
  },
  classes: {
    root: 'overflow-hidden',
    custom: '',
    swiperSlide: 'swiper-slide',
    swiperWrapper: '',
  },
  variants: {
    aspectRatio: {
      'aspect-landscape': '!w-11/12 sm:!w-5/12 aspect-landscape',
      'aspect-portrait': '!w-11/12 sm:!w-3/12 aspect-portrait',
      'aspect-square': '!w-11/12 sm:!w-3/12 aspect-square',
      'aspect-auto': '!w-11/12 sm:!w-3/12 aspect-auto',
    }
  }
} %}

  {# >>> Merge data / classes / variants (optional) #}
  {% set props = {
    data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
    classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
    variants: compDefaults.variants,
  } %}

  {# Component #}
<div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
  {# >>> Embed Swiper Holder #}
  {% embed "_components/slider/swiperHolder.twig" with {
    data: {
      slides: props.data.slides ??? null,
      aspectRatio: props.data.aspectRatio,
      destroyBreakpoint: props.data.destroyBreakpoint ??? null,
    },
    classes: props.classes,
    variants: props.variants
  } only %}
    {# >>> Render slides #}
    {% block swiperSlides %}
      {% for image in props.data.slides %}
        <div class="{{ props.classes.swiperSlide }} {{ props.variants.aspectRatio[props.data.aspectRatio] }}">
          {{ include('_components/image/image.twig', {
            data: {
              image: image ??? null,
              aspectRatio: props.data.aspectRatio,
              lazy: false
            }
          }, withContext = false) }}
        </div>
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
