{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: "c-swiperHolder",
    slides: null,
    variantRatio: "landscape",
    destroyBreakpoint: null,
    swiperConfig: {
      init: false,
      freeMode: {
        sticky: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
        hide: true
      },
      slidesPerView: 'auto',
      spaceBetween: 16,
      breakpoints: {
        768: {
          spaceBetween: 32,
        },
        1024: {
          spaceBetween: 32,
        }
      },
      grabCursor: true,
      simulateTouch: true,
      watchSlidesProgress: true,
      watchSlidesVisibility: true
    }
  },
  classes: {
    root: "",
    custom: "",
    swiperWrapper: "",
  },
  variants: {}
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data|merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes|merge(classes) : compDefaults.classes,
  variants: variants is defined and variants is iterable ? compDefaults.variants|merge(variants) : compDefaults.variants
} %}

{# Component #}
<div class="swiper {{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }} js-swiperHolder"
  data-swiper-config="{{ props.data.swiperConfig|json_encode }}"
  data-swiper-destroy-breakpoint="{{ props.data.destroyBreakpoint }}">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper {{ props.classes.swiperWrapper }}">
    {% block swiperSlides %}

    {% endblock %}
  </div>

  {% if props.data.swiperConfig.navigation ??? null %}
    {% block navigation %}
      <div class="swiper-button-prev">
        {# >>> Render icon #}
        {{
        include(
          "_components/icon/icon.twig",
          {
            data: {
            icon: "swiper-left",
            variantSize: "md"
          }
          },
          withContext = false
        )
        }}
      </div>
      <div class="swiper-button-next">
        {# >>> Render icon #}
        {{
        include(
          "_components/icon/icon.twig",
          {
            data: {
            icon: "swiper-right",
            variantSize: "md"
          }
          },
          withContext = false
        )
        }}
      </div>
    {% endblock %}
  {% endif %}

  {% if props.data.swiperConfig.scrollbar ??? null %}
    {% block scrollbar %}
      <div class="swiper-scrollbar"></div>
    {% endblock %}
  {% endif %}

  {% if props.data.swiperConfig.pagination ??? null %}
    {% block pagination %}
      <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"></div>
    {% endblock %}
  {% endif %}
</div>
